<?xml version="1.1"?>
<launch>
    <!-- <arg name="pointcloud_topic" default="cloud_in"/> -->
    <!-- 本文件用于全自动模式，修改参数调高了点云转scan的最低角度，忽略了轮子高度以上 -->

    <arg name="pointcloud_topic" default="rslidar_points"/>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">

        <!-- <remap from="/rslidar_points" to="/scan"/> -->
        <!-- 取消注释 -->
	    <param name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
        <param name="transform_tolerance" value="0.01"/>
        <param name="min_height" value="-0.45"/>
        <!-- -0.6 -->
        <param name="max_height" value="2.0"/>
        <param name="range_min" value="0.4"/>
        <param name="range_max" value="50"/>
        <param name="use_inf" value="true"/>
        <param name="inf_epsilon" value="1.0"/>
        <param name="concurrency_level" value="1"/>
    </node>

</launch>
