<?xml version="1.0"?>
<launch>
    <!-- 
        The robot can be controlled either through CAN bus or UART port. Make sure the hardware
        interface is set up correctly before attempting to connect to the robot.
        
        You only need to specify the port name, such as "can0", "/dev/ttyUSB0". The port should 
        operate with the following configuration:
        
        * CAN bus: 500k
        * UART: 115200, Parity None, 8-bit Data, 1 Stop Bit 
    -->
    <!-- 设置离线建图 -->
    <param name="use_sim_time" value="true"/>

    <!-- 添加离线文件路径名称 -->
    <arg name="bag_filename" default="/root/catkin_ws/bagfile/dating_2023-01-18-16-15-35.bag" />
    
    <!-- 运行3D点云数据转2D激光数据 -->
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>

    <!-- 运行slam_gmapping算法 -->
    <include file="$(find laser_scan_matcher)/launch/offtime_gmapping.launch" />

    <!-- 播放离线文件 -->
    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock  $(arg bag_filename)"/>
</launch>
