<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="false"/>
    <!--启动小车底盘驱动-->
    <include file="$(find hunter_base)/launch/hunter_base.launch" />	

    <!-- 运行激光雷达驱动 -->
    <include file="$(find rslidar_sdk)/launch/rslidar_32.launch" />	
	    
    <!-- 运行3D点云数据转2D激光数据 -->
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>
</launch>
