<?xml version="1.1"?>
<launch>
    <param name="use_sim_time" value="false"/>
    <arg name="port_name" default="can0" />
    <arg name="simulated_robot" default="false" />
    <arg name="publish_tf" default="false" />

    <!-- 为重定向cmd_vel并且不影响其他节点,单独启动底盘节点. TF发布参数修改为false -->
     <node name="hunter_base_node" pkg="hunter_base" type="hunter_base_node" output="screen">
        <param name="port_name" type="string" value="$(arg port_name)" />
        <param name="simulated_robot" type="bool" value="$(arg simulated_robot)" />
        <param name="publish_tf" type="bool" value="$(arg publish_tf)" />

        <param name="odom_frame" type="string" value="odom" />
        <param name="base_frame" type="string" value="base_link" />
    </node>

    <!-- 加载机器人模型参数 -->
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find scout_description)/urdf/scout_v2.xacro'" /> -->
    <param name="robot_description" command="$(arg urdf_file)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
    </node>

    <!-- 运行激光雷达驱动 -->
    <!-- 待换回360度 -->
    <include file="$(find rslidar_sdk)/launch/rslidar_32.launch" />	
	    
    <!-- 运行3D点云数据转2D激光数据 -->
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>

    <!-- 启动tf坐标转换 -->
    <include file="$(find transformer_tf)/launch/tf_transformer.launch"/>

    <!-- 启动多路速度控制节点 -->
    <!-- <include file="$(find yocs_cmd_vel_mux)/launch/hunter_cmd_mux.launch"/> -->

    <!--启动3D定位节点 -->
    <include file="$(find sonic_localization)/launch/localization_0807.launch"/>

    <!-- 启动海康摄像头 -->
    <!--include file="$(find hikvision_ros)/launch/hik.launch"/-->
    
    <!-- 目前参数较好的 -->
    <include file="$(find teb_local_planner_tutorials )/launch/teb2pp_car.launch" />

    <!-- 设置一个/map与/odom之间的静态坐标变换 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_base_link_broadcaster" args="0 0 0 0 0 0 /map /odom " />
</launch>
