<?xml version="1.0"?>
<launch>
    <!-- 加载激光雷达驱动 -->
    <include file="$(find rslidar_sdk)/launch/rslidar_32.launch"/>

    <!-- 加载3D定位节点 -->
    <include file="$(find sonic_localization)/launch/localization_0807.launch"/>

    <!-- 运行录制线路程序 -->
    <node name="track_record" pkg="hunter_base" type="track_record.py" output="screen"/>

    <!-- 保存指定话题输出bag包 -->
    <arg name="bag_filename" default="/home/bestway/hunter_ws/bagfile/track1.bag"/>
    <node name="bag_output" pkg="rosbag" type="record" args="/xunji_vel /odom -O $(arg bag_filename)"/>
</launch>
