<launch>
<!-- 390环视雷达，用于建图 -->
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name="config_path" value="/home/bestway/hunter_ws/src/driver/rslidar_sdk/config/config/config.yaml"/>
  </node>
  <!-- rviz -->
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rslidar_sdk)/rviz/rviz.rviz" /> -->
</launch>
