<launch>
    <arg name="ws_path" default="/root/catkin_ws/src/sonic_slam" />
    <param name="/use_sim_time" value="false" />
    <param name="ws_path" type="string" value="$(arg ws_path)"/>


    <rosparam command="load" file="$(find sonic_localization)/config/localization.yaml" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find sonic_localization)/config/maze.yaml" output="log">
        <param name="frame_id" value="map"/>
        <param name="image" value="$(arg ws_path)/data/map/costmap.png"/>
    </node>
    <node pkg="sonic_localization" type="localization" name="localization" output="screen" >
         <remap from="/local_odom" to="/odom" />
    </node>
    

    <arg name="rviz" default="false" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find sonic_localization)/rviz/localization.rviz" />
    </group>


</launch>
