<launch>
    <arg name="ws_path" default="$(find sonic_localization)" />
    <param name="ws_path" type="string" value="$(arg ws_path)"/>
    <arg name="bag_filename" default="/root/catkin_ws/bagfile/hunter.bag" />

    <rosparam command="load" file="$(find sonic_localization)/config/localization.yaml" />
    <node pkg="sonic_localization" type="localization" name="localization" output="log"/>
</launch>
