<?xml version="1.0"?>
<launch>
    <!-- 
        The robot can be controlled either through CAN bus or UART port. Make sure the hardware
        interface is set up correctly before attempting to connect to the robot.
        
        You only need to specify the port name, such as "can0", "/dev/ttyUSB0". The port should 
        operate with the following configuration:
        
        * CAN bus: 500k
        * UART: 115200, Parity None, 8-bit Data, 1 Stop Bit 
    -->
    <param name="use_sim_time" value="false"/>
    <arg name="port_name" default="can0" />
    <arg name="simulated_robot" default="false" />
    <arg name="publish_tf" default="true" />


    <!--启动小车底盘驱动-->
    <include file="$(find hunter_base)/launch/hunter_base.launch" />	
     
    <!-- 运行激光雷达驱动 -->
    <include file="$(find rslidar_sdk)/launch/rslidar_32.launch" />	
	    
    <!-- 运行3D点云数据转2D激光数据 -->
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>

    <!-- 启动tf坐标转换 -->
    <include file="$(find transformer_tf)/launch/tf_tranformer.launch"/>
    <!--node name="odomtransform" pkg="odomtransform" type="ot" output="log" /-->

    <!--启动3D定位节点 -->
    <include file="$(find sonic_localization)/launch/realtime_localization.launch"/>

    <!-- 运行自主导航节点 -->
    <!--include file="$(find teb_local_planner_tutorials)/launch/hunter_car.launch" /-->
</launch>
