<?xml version="1.0"?>
<launch>
    <!-- 加载机器人模型参数 -->
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find scout_description)/urdf/scout_v2.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
        <param name="publish_frequency" type="double" value="5.0" />
    </node>

    <!-- 运行激光雷达驱动 -->
    <include file="$(find rslidar_sdk)/launch/rslidar_32.launch" />

    <!-- 运行3D点云数据转2D激光数据 -->
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>
 
    <!-- 启动tf坐标转换 -->
    <include file="$(find transformer_tf)/launch/transformer_tf.launch"/>

    
    <!--启动3D定位节点 -->
    <include file="$(find sonic_localization)/launch/realtime_localization.launch"/>

    <!-- 运行自主导航节点 -->
    <!--include file="$(find mrobot_navigation)/launch/nav_demo.launch" /-->

</launch>
