<?xml version="1.0"?>
<launch>
    <!--启动小车底盘驱动-->
    <include file="$(find mrobot_bringup)/launch/fake_mrobot_with_laser.launch"/>	

    <!-- 运行激光雷达驱动 -->
    <include file="$(find rslidar_sdk)/launch/rslidar_32.launch"/>

    <!-- 运行3D点云数据转2D激光数据 -->
    <include file="$(find pointcloud_to_laserscan)/launch/pointcloud_to_laserscan.launch"/>

    <!-- 启动tf坐标转换 -->
    <include file="$(find transformer_tf)/launch/tf.launch"/>
    <!--node name="odomtransform" pkg="odomtransform" type="ot" output="log" /-->

    <!--启动3D定位节点 -->
    <!--include file="$(find sonic_localization)/launch/xunji_localization.launch"/-->

    <!-- 运行自主导航节点 -->
    <include file="$(find teb_local_planner_tutorials)/launch/atbotix_car.launch" />
</launch>
